* {
    box-sizing: content-box;
    margin: 0;
    padding: 0%;

}

@font-face {
    font-family: "Monoton-Regular";
    src: url(../Fonts/Monoton-Regular.ttf);
}

body {
    background-color: #161d2e;
}

.header_home_1 {
    background-color: rgb(38, 165, 197);
    width: 97vw;
    margin: 0 1.5vw;
    height: 9vh;
}

.nav_home_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

.nav_home_1 .centeral_image img {
    width: 10vw;
    height: 9vh;
}

.header_home_1 .nav_home_1 li {
    margin: 0 5rem;
}

.header_home_1 .nav_home_1 li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;

}

.header_home_1 .nav_home_1 li a:hover {
    color: #161d2e;
}

/* header end */

.first_section_1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
    width: 99vw;
}

.first_section_1 .content1_text1 {
    width: 50%;
    text-align: center;
    margin-top: 7rem;
    font-family: "Monoton-Regular";
    font-weight: bold;
    font-size: 6vw;
    color: rgb(34, 211, 255);
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

.first_section_1 .content1_text1 span {
    color: aliceblue;
    font-weight: bold;
    font-size: 8vw;
    font-family: "Monoton-Regular";
}

.content1_img1 img {
    width: 30rem;
    margin: 7rem 1.5vw;
    border-radius: 5rem;
}

/* anmations start */
.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.load {
    background-color: rgba(0, 238, 255, 0.466);
    width: 50px;
    height: 50px;
    margin-left: 2px;
    border-radius: 50%;
    animation: animate 1.25s infinite alternate;
}

.one {
    animation-delay: 0.125s;

}

.two {
    animation-delay: 0.25s;

}

.three {
    animation-delay: 0.375s;

}

.four {
    animation-delay: 0.4s;

}

.five {
    animation-delay: 0.525s;

}

.six {
    animation-delay: 0.65s;

}

.seven {
    animation-delay: 0.775s;

}

.eight {
    animation-delay: 0.8s;

}

.nine {
    animation-delay: 0.925s;

}

.ten {
    animation-delay: 1.25s;

}

@keyframes animate {
    100% {
        opacity: .02;
        transform: translateY(-55px);

    }
}



/* links section start */
.links_section_1 {
    background-color: rgb(202, 244, 255);
    margin: 0 1.5%;
    width: 97%;
}

.links_section_1 .links_section_1_1 {
    display: flex;
    height: 4vh;
    align-items: center;
    justify-content: space-evenly;
}

.links_section_1 .links_section_1_1 li {
    list-style: none;
}

.links_section_1 .links_section_1_1 li a {
    text-decoration: none;
    color: #161d2e;
    font-weight: bold;
}

.links_section_1 .links_section_1_1 li a:hover {
    color: rgb(9, 117, 145);

}








@media only screen and (max-device-width:557px) {
    .nav_home_1 .centeral_image img {
        width: 10vw;
        height: 9vh;
        margin: 0;
    }

    .header_home_1 .nav_home_1 li {
        margin: 0 5rem;
    }

    .header_home_1 .nav_home_1 li a {
        font-size: 1rem;
    }

    /* header end */

    .first_section_1 .content1_text1 {
        font-size: 4vw;
    }

    .first_section_1 .content1_text1 span {
        font-size: 6vw;
    }

    .content1_img1 img {
        width: 25rem;
        margin: 7rem 0.5vw 0 0.5vw;
        border-radius: 2rem;
    }

    /* anmations start */
    .cont {
       
        height: 40vh;
    }

    .load {
        width: 1.3rem;
        height: 1.5rem;
        margin-left: 1vw;
        border-radius: 50%;    
    }

}

@media only screen and (max-device-width:557px) {

    .nav_home_1 .centeral_image img {
        width: 7vw;
        height: 7vh;
        margin: 0;
    }

    .header_home_1 .nav_home_1 li {
        margin: 0 2rem;
    }

    .header_home_1 .nav_home_1 li a {
        font-size: 1rem;
    }

    /* header end */

    .first_section_1 .content1_text1 {
        font-size: 3vw;
    }

    .first_section_1 .content1_text1 span {
        font-size: 5vw;
    }

    .content1_img1 img {
        width: 15rem;
        margin: 5rem 0.5vw 0 0.5vw;
        border-radius: 2rem;
    }

    /* links section start */
/* .links_section_1 {
    background-color: rgb(202, 244, 255);
    margin: 0 1.5%;
    width: 97%;
} */


.links_section_1 .links_section_1_1 li a {
    font-size: 0.7rem;
}

}