* {
    box-sizing: content-box;
    margin: 0;
    padding: 0%;

}

@font-face {
    font-family: "Monoton-Regular";
    src: url(../Fonts/Monoton-Regular.ttf);
}

body {
    background-color: #161d2e;
}

.header_home_1 {
    background-color: rgb(38, 165, 197);
    width: 97vw;
    margin: 0 1.5vw;
    height: 9vh;
    box-shadow: 0px 2px 6px 2px rgb(169, 221, 255);
}

.nav_home_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

.nav_home_1 .centeral_image img {
    width: 10vw;
    height: 9vh;
}

.header_home_1 .nav_home_1 li {
    margin: 0 5rem;
}

.header_home_1 .nav_home_1 li a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;

}

.header_home_1 .nav_home_1 li a:hover {
    color: #161d2e;
}

/* header end */

.first_section_1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: fit-content;
    width: 99vw;
}

.first_section_1 .content1_text1 {
    width: 50%;
    text-align: center;
    margin-top: 7rem;
    font-family: "Monoton-Regular";
    font-weight: bold;
    font-size: 6vw;
    color: rgb(34, 211, 255);
    text-transform: uppercase;
    letter-spacing: 0.6rem;
}

.first_section_1 .content1_text1 span {
    color: aliceblue;
    font-weight: bold;
    font-size: 8vw;
    font-family: "Monoton-Regular";
}

.content1_img1 img {
    width: 30rem;
    margin: 7rem 6vw;
    border-radius: 5rem;
}


/* photo_certifications start */
@font-face {
    font-family: "TitanOne";
    src: url(../Fonts/TitanOne-Regular.ttf);
}
.photo_certifications {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 7rem 0;
    width: 99vw;
}
.Certifications_title {
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    font-family: "TitanOne";
    letter-spacing: 5px;
    width: 100%;
    font-size: 60px;
    color: #291f7f;
    text-align: center;
    text-transform: uppercase;
    animation: blink 1.5s infinite alternate;
}
@keyframes blink {
    0% {
        color: rgb(34, 211, 255);
    }
    100% {
        color: #0f3ea3;
    }
}
.img_certificate img {
    width: 500px;
    height: 300px;
    padding: 20px 0;
    opacity: 0.7;
    transition: 1s;

}
.img_certificate img:hover {
    outline: 2px solid rgba(60, 138, 161, 0.548);
    opacity: 1;
}
/* photo_certifications end */


/* links section start */
.links_section_1 {
    background-color: rgb(202, 244, 255);
    margin: 0 1.5%;
    width: 97%;
    box-shadow: 0px -2px 4px 1.5px rgb(169, 221, 255);
}

.links_section_1 .links_section_1_1 {
    display: flex;
    height: 4vh;
    align-items: center;
    justify-content: space-evenly;
}

.links_section_1 .links_section_1_1 li {
    list-style: none;
}

.links_section_1 .links_section_1_1 li a {
    text-decoration: none;
    color: #161d2e;
    font-weight: bold;
}

.links_section_1 .links_section_1_1 li a:hover {
    color: rgb(9, 117, 145);

}

@media only screen and (max-device-width:557px) {
    .nav_home_1 .centeral_image img {
        width: 10vw;
        height: 9vh;
        margin: 0;
    }

    .header_home_1 .nav_home_1 li {
        margin: 0 2rem;
    }

    .header_home_1 .nav_home_1 li a {
        font-size: 0.7rem;
    }

    /* header end */

    .first_section_1 .content1_text1 {
        font-size: 4vw;
    }

    .first_section_1 .content1_text1 span {
        font-size: 6vw;
    }

    .content1_img1 img {
        width: 25rem;
        margin: 7rem 0.5vw 0 0.5vw;
        border-radius: 2rem;
    }


    /* Certifications section start */

    .photo_certifications {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 99vw;
    }
    .Certifications_title {
        font-size: 6vw;
        color: #291f7f;
        text-align: center;
        text-transform: uppercase;
        animation: blink 3s infinite alternate;
    }
    .img_certificate img {
        width: 25rem;
        height: 20rem;
        padding: 1rem;
    }


}

@media only screen and (max-device-width:557px) {

    .nav_home_1 .centeral_image img {
        width: 7vw;
        height: 7vh;
        margin: 0;
    }

    .header_home_1 .nav_home_1 li {
        margin: 0 2rem;
    }

    .header_home_1 .nav_home_1 li a {
        font-size: 1rem;
    }

    /* header end */

    .first_section_1 .content1_text1 {
        font-size: 5vw;
    }

    .first_section_1 .content1_text1 span {
        font-size: 7vw;
    }

    .content1_img1 img {
        width: 15rem;
        margin: 5rem 0.5vw 0 0.5vw;
        border-radius: 2rem;
    }

    .links_section_1 .links_section_1_1 li a {
        font-size: 0.7rem;
    }

    /* crertifications section start */
    .Certifications_title {
        font-size: 7vw;
        color: #291f7f;
        text-align: center;
        text-transform: uppercase;
    }

    .img_certificate img {
        width: 15rem;
        height: 10rem;
        padding: 1rem;
    }


}


@media only screen and (max-device-width:239px) {
    .header_home_1 {
        width: 100%;
        margin: 0;
        height: 9vh;
        justify-content: space-between;
    }

    .header_home_1 .nav_home_1 li {
        margin: 0;
    }

    .nav_home_1 .centeral_image img {
        width: 3vw;
        height: 7vh;
        margin: 0;
        padding: 0;
    }

    .header_home_1 .nav_home_1 li a {
        font-size: 0.5rem;
    }

    /* header end */

    .first_section_1 .content1_text1 {
        font-size: 5vw;
        margin-right: 20vw;
    }

    .first_section_1 .content1_text1 span {
        font-size: 5vw;
    }

    .content1_img1 img {
        width: 7rem;
    }

    .links_section_1 .links_section_1_1 li a {
        font-size: 0.3rem;
    }



    /* crertifications section start */
    .Certifications_title {
        font-size: 7vw;
        color: #291f7f;
        text-align: center;
        text-transform: uppercase;
    }

    .img_certificate img {
        width: 5rem;
        height: 3rem;
        padding: 1rem;
    }


}